<p>{{ text_signup }}</p>

{% if company %}
    <p>{{ text_company }} {{ customer_group }}</p>
{% endif %}
<p>{{ text_website }} {{ website }}</p>
<p>{{ text_firstname }} {{ firstname }}</p>
<p>{{ text_lastname }} {{ lastname }}</p>
{% if customer_group %}
    <p>{{ text_customer_group }} {{ customer_group }}</p>
{% endif %}
<p>{{ text_email }} {{ email }}</p>
<p>{{ text_telephone }} {{ telephone }}</p>
