

<p>{{ text_received }}</p>

<p>{{ text_order_id }}&nbsp;#{{ order_id }}
<br>{{ text_date_added }}&nbsp;{{ date_added }}
<br>{{ text_order_status }}&nbsp;<strong>{{ order_status }}</strong></p>

{{ text_product }}
<table border="0" style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
	<tr style="background-color:#DDDDDD;font-size: 12px;">
		<th>SKU</th>
		<th>Descripcion</th>
		<th>Modelo</th>
		<th>Cantidad</th>
		<th>Importe</th>
	</tr>
	{% for product in products %}
		<tr>
			<td style="border:1px solid #DDDDDD;width:100px">{{ product.sku }}</td>
			<td style="border:1px solid #DDDDDD">{{ product.name }}
				{% if option %}
					{% for option in product.option %}
						- {{ option.name }} {{ option.value }}
					{% endfor %}
				{% endif %}
			</td>
			<td style="border:1px solid #DDDDDD">{{ product.model }}</td>
			<td style="border:1px solid #DDDDDD;width:80px;text-align:center">{{ product.quantity }}</td>
			<td style="border:1px solid #DDDDDD;text-align:right;width:100px">{{ product.total }}</td>
		</tr>
	{% endfor %} 
	
	{% if vouchers %}
		{% for voucher in vouchers %}
			<tr>
				<td></td>
				<td colspan="3">1x {{ voucher.description }}</td>
				<td style="text-align:right">{{ voucher.amount }}</td>
			</tr>		 
		{% endfor %}
	{% endif %}

	{% for total in totals %}
		<tr>
			<td colspan="2"></td>
			<td colspan="2" style="text-align:right"><strong>{{ total.title }}</strong></td>
			<td style="text-align:right">{{ total.value }}</td>
		</tr>
	{% endfor %}

</table>	
 
  
{% if comment %}
	{{ text_comment }}: <strong>{{ comment }}</strong>
{% endif %}

