<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body>
<p>{{ text_signup }}</p>
<p>
    <table>
        <tr>
            <td>{{ text_firstname }}</td>
            <td>:&nbsp;&nbsp;{{ firstname }}</td>
        </tr>
        <tr>
            <td>{{ text_lastname }}</td>
            <td>:&nbsp;&nbsp;{{ lastname }}</td>
        </tr>
        {% if customer_group %}
            <tr>
                <td>{{ text_customer_group }}&nbsp;</td>
                <td>:&nbsp;&nbsp;{{ customer_group }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ text_email }}&nbsp;</td>
            <td>:&nbsp;&nbsp;{{ email }}</td>
        </tr>
        <tr>
            <td>{{ text_telephone }}</td>
            <td>:&nbsp;&nbsp;{{ telephone }}</td>
        </tr>
    </table>
</p>
</body>
</html>
