<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="color:#fff">
                <h5>UBICANOS</h5>
                AV METROPOLITANA #570 - COMAS - LIMA
                <br>pedidos@grupodalm.net.pe
                <br>(+51) <strong>936 610 700</strong>  /  (+51) <strong>997 752 822</strong>
                <br>
                <br><h5>Hacemos envios a PROVINCIA!</h5>
                <br>
            </div>




      {% if informations %}
      <div class="col-sm-2">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-2">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="container-fluid" style="border-top:1px solid #fff;border-bottom:1px solid #fff;">
    <div class="col-md-12 text-center" style="padding:10px">
      <span style="font-size:16px">Comprar aquí es 100% seguro</span>
      <img src="catalog/view/theme/default/image/visa.png">
      <img src="catalog/view/theme/default/image/amex.png">
      <img src="catalog/view/theme/default/image/cencosud.png">
      <img src="catalog/view/theme/default/image/cmr.png">
      <img src="catalog/view/theme/default/image/dinners.png">
      <img src="catalog/view/theme/default/image/mastercard.png">
      <img src="catalog/view/theme/default/image/oh.png">
      <img src="catalog/view/theme/default/image/ripley.png">
    </div>
  </div>
    <div class="container">
      <p><br>Desarrollado por <a href="http://www.miasoftware.net">MiaSoftware Network</a><br></p>
    </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>